<?xml version="1.0" encoding="UTF-8"?>
<Trunks>
  <Trunk ID="1" Name="Garita">
    <Stations />
  </Trunk>
  <Trunk ID="2" Name="Retorno">
    <Stations>
      <Station ID="1" Name="Oviedo/Zócalo" Connected="True">
        <Devices>
          <Device ID="1" Type="CDE" IP="172.17.1.20" Status="True" HasDataBase="False" />
          <Device ID="1" Type="SW" IP="172.17.1.1" Status="True" HasDataBase="False" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="1" Type="KVR" IP="172.17.1.41" Status="True" HasDataBase="True" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="2" Type="KVR" IP="172.17.1.42" Status="True" HasDataBase="True" />
          <Device ID="1" Type="PMR" IP="172.17.1.31" Status="True" HasDataBase="True" />
          <Device ID="1" Type="TOR" IP="172.17.1.21" Status="True" HasDataBase="True" />
          <Device ID="2" Type="TOR" IP="172.17.1.22" Status="True" HasDataBase="True" />
        </Devices>
      </Station>
      <Station ID="2" Name="Melchor Ocampo A" Connected="True">
        <Devices>
          <Device ID="1" Type="CDE" IP="172.17.2.20" Status="True" HasDataBase="False" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="1" Type="KVR" IP="172.17.2.41" Status="True" HasDataBase="True" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="2" Type="KVR" IP="172.17.2.42" Status="True" HasDataBase="True" />
          <Device ID="1" Type="PMR" IP="172.17.2.31" Status="True" HasDataBase="True" />
          <Device ID="1" Type="TOR" IP="172.17.2.21" Status="True" HasDataBase="True" />
          <Device ID="2" Type="TOR" IP="172.17.2.22" Status="True" HasDataBase="True" />
          <Device ID="3" Type="TOR" IP="172.17.2.23" Status="True" HasDataBase="True" />
        </Devices>
      </Station>
      <Station ID="3" Name="Seguro Social" Connected="True">
        <Devices>
          <Device ID="1" Type="CDE" IP="172.17.3.20" Status="True" HasDataBase="False" />
          <Device ID="1" Type="SW" IP="172.17.3.1" Status="True" HasDataBase="False" />
          <Device ID="1" Type="NVR" IP="172.17.3.220" Status="True" HasDataBase="False" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="1" Type="KVR" IP="172.17.3.41" Status="True" HasDataBase="True" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="2" Type="KVR" IP="172.17.3.42" Status="True" HasDataBase="True" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="3" Type="KVR" IP="172.17.3.43" Status="True" HasDataBase="True" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="4" Type="KVR" IP="172.17.3.44" Status="True" HasDataBase="True" />
          <Device ID="1" Type="PMR" IP="172.17.3.31" Status="True" HasDataBase="True" />
          <Device ID="2" Type="PMR" IP="172.17.3.32" Status="True" HasDataBase="True" />
          <Device ID="1" Type="TOR" IP="172.17.3.21" Status="True" HasDataBase="True" />
          <Device ID="2" Type="TOR" IP="172.17.3.22" Status="True" HasDataBase="True" />
          <Device ID="3" Type="TOR" IP="172.17.3.23" Status="True" HasDataBase="True" />
          <Device ID="4" Type="TOR" IP="172.17.3.24" Status="True" HasDataBase="True" />
          <Device ID="5" Type="TOR" IP="172.17.3.25" Status="True" HasDataBase="True" />
          <Device ID="6" Type="TOR" IP="172.17.3.26" Status="True" HasDataBase="True" />
          <Device ID="7" Type="TOR" IP="172.17.3.27" Status="True" HasDataBase="True" />
          <Device ID="8" Type="TOR" IP="172.17.3.28" Status="True" HasDataBase="True" />
        </Devices>
      </Station>
      <Station ID="4" Name="Cine Río A" Connected="True">
        <Devices>
          <Device ID="1" Type="CDE" IP="172.17.4.20" Status="True" HasDataBase="False" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="1" Type="KVR" IP="172.17.4.41" Status="True" HasDataBase="True" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="2" Type="KVR" IP="172.17.4.42" Status="True" HasDataBase="True" />
          <Device ID="1" Type="PMR" IP="172.17.4.31" Status="True" HasDataBase="True" />
          <Device ID="1" Type="TOR" IP="172.17.4.21" Status="True" HasDataBase="True" />
          <Device ID="2" Type="TOR" IP="172.17.4.22" Status="True" HasDataBase="True" />
          <Device ID="3" Type="TOR" IP="172.17.4.23" Status="True" HasDataBase="True" />
        </Devices>
      </Station>
      <Station ID="5" Name="Ricardo Flores Magón" Connected="True">
        <Devices>
          <Device ID="1" Type="CDE" IP="172.17.5.20" Status="True" HasDataBase="False" />
          <Device ID="1" Type="SW" IP="172.17.5.1" Status="True" HasDataBase="False" />
          <Device ID="1" Type="NVR" IP="172.17.5.220" Status="True" HasDataBase="False" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="1" Type="KVR" IP="172.17.5.41" Status="True" HasDataBase="True" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="2" Type="KVR" IP="172.17.5.42" Status="True" HasDataBase="True" />
          <Device ID="1" Type="PMR" IP="172.17.5.31" Status="True" HasDataBase="True" />
          <Device ID="1" Type="TOR" IP="172.17.5.21" Status="True" HasDataBase="True" />
          <Device ID="2" Type="TOR" IP="172.17.5.22" Status="True" HasDataBase="True" />
          <Device ID="3" Type="TOR" IP="172.17.5.23" Status="True" HasDataBase="True" />
        </Devices>
      </Station>
      <Station ID="6" Name="Michoacán" Connected="True">
        <Devices>
          <Device ID="1" Type="CDE" IP="172.17.6.20" Status="True" HasDataBase="False" />
          <Device ID="1" Type="SW" IP="172.17.6.1" Status="True" HasDataBase="False" />
          <Device ID="1" Type="NVR" IP="172.17.6.220" Status="True" HasDataBase="False" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="1" Type="KVR" IP="172.17.6.41" Status="True" HasDataBase="True" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="2" Type="KVR" IP="172.17.6.42" Status="True" HasDataBase="True" />
          <Device ID="1" Type="PMR" IP="172.17.6.31" Status="True" HasDataBase="True" />
          <Device ID="1" Type="TOR" IP="172.17.6.21" Status="True" HasDataBase="True" />
          <Device ID="2" Type="TOR" IP="172.17.6.22" Status="True" HasDataBase="True" />
          <Device ID="3" Type="TOR" IP="172.17.6.23" Status="True" HasDataBase="True" />
        </Devices>
      </Station>
      <Station ID="7" Name="Palacio Municipal" Connected="True">
        <Devices>
          <Device ID="1" Type="CDE" IP="172.17.7.20" Status="True" HasDataBase="False" />
          <Device ID="1" Type="SW" IP="172.17.7.1" Status="True" HasDataBase="False" />
          <Device ID="1" Type="NVR" IP="172.17.7.220" Status="True" HasDataBase="False" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="1" Type="KVR" IP="172.17.7.41" Status="True" HasDataBase="True" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="2" Type="KVR" IP="172.17.7.42" Status="True" HasDataBase="True" />
          <Device ID="1" Type="PMR" IP="172.17.7.31" Status="True" HasDataBase="True" />
          <Device ID="1" Type="TOR" IP="172.17.7.21" Status="True" HasDataBase="True" />
          <Device ID="2" Type="TOR" IP="172.17.7.22" Status="True" HasDataBase="True" />
          <Device ID="3" Type="TOR" IP="172.17.7.23" Status="True" HasDataBase="True" />
        </Devices>
      </Station>
      <Station ID="8" Name="Las Anclas" Connected="True">
        <Devices>
          <Device ID="1" Type="CDE" IP="172.17.8.20" Status="True" HasDataBase="False" />
          <Device ID="1" Type="SW" IP="172.17.8.1" Status="True" HasDataBase="False" />
          <Device ID="1" Type="NVR" IP="172.17.8.220" Status="True" HasDataBase="False" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="1" Type="KVR" IP="172.17.8.41" Status="True" HasDataBase="True" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="2" Type="KVR" IP="172.17.8.42" Status="True" HasDataBase="True" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="3" Type="KVR" IP="172.17.8.43" Status="True" HasDataBase="True" />
          <Device ID="1" Type="PMR" IP="172.17.8.31" Status="True" HasDataBase="True" />
          <Device ID="1" Type="TOR" IP="172.17.8.21" Status="True" HasDataBase="True" />
          <Device ID="2" Type="TOR" IP="172.17.8.22" Status="True" HasDataBase="True" />
          <Device ID="3" Type="TOR" IP="172.17.8.23" Status="True" HasDataBase="True" />
          <Device ID="4" Type="TOR" IP="172.17.8.24" Status="True" HasDataBase="True" />
        </Devices>
      </Station>
      <Station ID="9" Name="Dr. Ignacio Chávez A" Connected="True">
        <Devices>
          <Device ID="1" Type="CDE" IP="172.17.9.20" Status="True" HasDataBase="False" />
          <Device ID="1" Type="SW" IP="172.17.9.1" Status="True" HasDataBase="False" />
          <Device ID="1" Type="NVR" IP="172.17.9.220" Status="True" HasDataBase="False" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="1" Type="KVR" IP="172.17.9.41" Status="True" HasDataBase="True" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="2" Type="KVR" IP="172.17.9.42" Status="True" HasDataBase="True" />
          <Device ID="1" Type="PMR" IP="172.17.9.31" Status="True" HasDataBase="True" />
          <Device ID="1" Type="TOR" IP="172.17.9.21" Status="True" HasDataBase="True" />
          <Device ID="2" Type="TOR" IP="172.17.9.22" Status="True" HasDataBase="True" />
        </Devices>
      </Station>
      <Station ID="10" Name="Encino A" Connected="True">
        <Devices>
          <Device ID="1" Type="CDE" IP="172.17.10.20" Status="True" HasDataBase="False" />
          <Device ID="1" Type="SW" IP="172.17.10.1" Status="True" HasDataBase="False" />
          <Device ID="1" Type="NVR" IP="172.17.10.220" Status="True" HasDataBase="False" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="1" Type="KVR" IP="172.17.10.41" Status="True" HasDataBase="True" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="2" Type="KVR" IP="172.17.10.42" Status="True" HasDataBase="True" />
          <Device ID="1" Type="PMR" IP="172.17.10.31" Status="True" HasDataBase="True" />
          <Device ID="1" Type="TOR" IP="172.17.10.21" Status="True" HasDataBase="True" />
          <Device ID="2" Type="TOR" IP="172.17.10.22" Status="True" HasDataBase="True" />
        </Devices>
      </Station>
      <Station ID="11" Name="Jacarandas A" Connected="True">
        <Devices>
          <Device ID="1" Type="CDE" IP="172.17.11.20" Status="True" HasDataBase="False" />
          <Device ID="1" Type="SW" IP="172.17.11.1" Status="True" HasDataBase="False" />
          <Device ID="1" Type="NVR" IP="172.17.11.220" Status="True" HasDataBase="False" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="1" Type="KVR" IP="172.17.11.41" Status="True" HasDataBase="True" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="2" Type="KVR" IP="172.17.11.42" Status="True" HasDataBase="True" />
          <Device ID="1" Type="PMR" IP="172.17.11.31" Status="True" HasDataBase="True" />
          <Device ID="1" Type="TOR" IP="172.17.11.21" Status="True" HasDataBase="True" />
          <Device ID="2" Type="TOR" IP="172.17.11.22" Status="True" HasDataBase="True" />
        </Devices>
      </Station>
      <Station ID="12" Name="Terminal de Transferencia Renacimiento" Connected="True">
        <Devices>
          <Device ID="1" Type="CDE" IP="172.17.12.20" Status="True" HasDataBase="False" />
          <Device ID="1" Type="SW" IP="172.17.12.1" Status="True" HasDataBase="False" />
          <Device ID="1" Type="NVR" IP="172.17.12.200" Status="True" HasDataBase="False" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="1" Type="KVR" IP="172.17.12.41" Status="True" HasDataBase="True" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="2" Type="KVR" IP="172.17.12.42" Status="True" HasDataBase="True" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="3" Type="KVR" IP="172.17.12.43" Status="True" HasDataBase="True" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="4" Type="KVR" IP="172.17.12.44" Status="True" HasDataBase="True" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="5" Type="KVR" IP="172.17.12.45" Status="True" HasDataBase="True" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="6" Type="KVR" IP="172.17.12.46" Status="True" HasDataBase="True" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="7" Type="KVR" IP="172.17.12.47" Status="True" HasDataBase="True" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="8" Type="KVR" IP="172.17.12.48" Status="True" HasDataBase="True" />
          <Device ID="1" Type="PMR" IP="172.17.12.33" Status="True" HasDataBase="True" />
          <Device ID="2" Type="PMR" IP="172.17.12.34" Status="True" HasDataBase="True" />
          <Device ID="1" Type="TOR" IP="172.17.12.21" Status="True" HasDataBase="True" />
          <Device ID="2" Type="TOR" IP="172.17.12.22" Status="True" HasDataBase="True" />
          <Device ID="3" Type="TOR" IP="172.17.12.23" Status="True" HasDataBase="True" />
          <Device ID="4" Type="TOR" IP="172.17.12.24" Status="True" HasDataBase="True" />
          <Device ID="5" Type="TOR" IP="172.17.12.25" Status="True" HasDataBase="True" />
          <Device ID="6" Type="TOR" IP="172.17.12.26" Status="True" HasDataBase="True" />
          <Device ID="7" Type="TOR" IP="172.17.12.27" Status="True" HasDataBase="True" />
          <Device ID="8" Type="TOR" IP="172.17.12.28" Status="True" HasDataBase="True" />
          <Device ID="9" Type="TOR" IP="172.17.12.29" Status="True" HasDataBase="True" />
          <Device ID="10" Type="TOR" IP="172.17.12.30" Status="True" HasDataBase="True" />
          <Device ID="11" Type="TOR" IP="172.17.12.31" Status="True" HasDataBase="True" />
          <Device ID="12" Type="TOR" IP="172.17.12.32" Status="True" HasDataBase="True" />
        </Devices>
      </Station>
      <Station ID="13" Name="Zapata" Connected="True">
        <Devices>
          <Device ID="1" Type="CDE" IP="172.17.13.20" Status="True" HasDataBase="False" />
          <Device ID="1" Type="SW" IP="172.17.13.1" Status="True" HasDataBase="False" />
          <Device ID="1" Type="NVR" IP="172.17.13.220" Status="True" HasDataBase="False" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="1" Type="KVR" IP="172.17.13.41" Status="True" HasDataBase="True" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="2" Type="KVR" IP="172.17.13.42" Status="True" HasDataBase="True" />
          <Device ID="1" Type="PMR" IP="172.17.13.31" Status="True" HasDataBase="True" />
          <Device ID="1" Type="TOR" IP="172.17.13.21" Status="True" HasDataBase="True" />
          <Device ID="2" Type="TOR" IP="172.17.13.22" Status="True" HasDataBase="True" />
          <Device ID="3" Type="TOR" IP="172.17.13.23" Status="True" HasDataBase="True" />
        </Devices>
      </Station>
      <Station ID="14" Name="La Postal" Connected="True">
        <Devices>
          <Device ID="1" Type="CDE" IP="172.17.14.20" Status="True" HasDataBase="False" />
          <Device ID="1" Type="SW" IP="172.17.14.1" Status="True" HasDataBase="False" />
          <Device ID="1" Type="NVR" IP="172.17.14.220" Status="True" HasDataBase="False" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="1" Type="KVR" IP="172.17.14.41" Status="True" HasDataBase="True" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="2" Type="KVR" IP="172.17.14.42" Status="True" HasDataBase="True" />
          <Device ID="1" Type="PMR" IP="172.17.14.31" Status="True" HasDataBase="True" />
          <Device ID="1" Type="TOR" IP="172.17.14.21" Status="True" HasDataBase="True" />
          <Device ID="2" Type="TOR" IP="172.17.14.22" Status="True" HasDataBase="True" />
          <Device ID="3" Type="TOR" IP="172.17.14.23" Status="True" HasDataBase="True" />
        </Devices>
      </Station>
      <Station ID="15" Name="Vacacional" Connected="True">
        <Devices>
          <Device ID="1" Type="CDE" IP="172.17.15.20" Status="True" HasDataBase="False" />
          <Device ID="1" Type="SW" IP="172.17.15.1" Status="True" HasDataBase="False" />
          <Device ID="1" Type="NVR" IP="172.17.15.220" Status="True" HasDataBase="False" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="1" Type="KVR" IP="172.17.15.41" Status="True" HasDataBase="True" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="2" Type="KVR" IP="172.17.15.42" Status="True" HasDataBase="True" />
          <Device ID="1" Type="PMR" IP="172.17.15.31" Status="True" HasDataBase="True" />
          <Device ID="1" Type="TOR" IP="172.17.15.21" Status="True" HasDataBase="True" />
          <Device ID="2" Type="TOR" IP="172.17.15.22" Status="True" HasDataBase="True" />
          <Device ID="3" Type="TOR" IP="172.17.15.23" Status="True" HasDataBase="True" />
        </Devices>
      </Station>
      <Station ID="16" Name="Paso Limonero" Connected="True">
        <Devices>
          <Device ID="1" Type="CDE" IP="172.17.16.20" Status="True" HasDataBase="False" />
          <Device ID="1" Type="SW" IP="172.17.16.1" Status="True" HasDataBase="False" />
          <Device ID="1" Type="NVR" IP="172.17.16.220" Status="True" HasDataBase="False" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="1" Type="KVR" IP="172.17.16.41" Status="True" HasDataBase="True" />
          <Device ID="1" Type="PMR" IP="172.17.16.31" Status="True" HasDataBase="True" />
          <Device ID="1" Type="TOR" IP="172.17.16.21" Status="True" HasDataBase="True" />
          <Device ID="2" Type="TOR" IP="172.17.16.22" Status="True" HasDataBase="True" />
        </Devices>
      </Station>
      <Station ID="17" Name="La Venta" Connected="True">
        <Devices>
          <Device ID="1" Type="CDE" IP="172.17.17.20" Status="True" HasDataBase="False" />
          <Device ID="1" Type="SW" IP="172.17.17.1" Status="True" HasDataBase="False" />
          <Device ID="1" Type="NVR" IP="172.17.17.220" Status="True" HasDataBase="False" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="1" Type="KVR" IP="172.17.17.41" Status="True" HasDataBase="True" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="2" Type="KVR" IP="172.17.17.42" Status="True" HasDataBase="True" />
          <Device ID="1" Type="PMR" IP="172.17.17.31" Status="True" HasDataBase="True" />
          <Device ID="1" Type="TOR" IP="172.17.17.21" Status="True" HasDataBase="True" />
          <Device ID="2" Type="TOR" IP="172.17.17.22" Status="True" HasDataBase="True" />
        </Devices>
      </Station>
      <Station ID="18" Name="El Retorno" Connected="True">
        <Devices>
          <Device ID="1" Type="CDE" IP="172.17.18.20" Status="True" HasDataBase="False" />
          <Device ID="1" Type="SW" IP="172.17.18.1" Status="True" HasDataBase="False" />
          <Device ID="1" Type="NVR" IP="172.17.18.220" Status="True" HasDataBase="False" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="1" Type="KVR" IP="172.17.18.41" Status="True" HasDataBase="True" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="2" Type="KVR" IP="172.17.18.42" Status="True" HasDataBase="True" />
          <Device ID="1" Type="PMR" IP="172.17.18.31" Status="True" HasDataBase="True" />
          <Device ID="1" Type="TOR" IP="172.17.18.21" Status="True" HasDataBase="True" />
          <Device ID="2" Type="TOR" IP="172.17.18.22" Status="True" HasDataBase="True" />
        </Devices>
      </Station>
      <Station ID="19" Name="Leyes de Reforma" Connected="True">
        <Devices>
          <Device ID="1" Type="CDE" IP="172.17.19.20" Status="True" HasDataBase="False" />
          <Device ID="1" Type="SW" IP="172.17.19.1" Status="True" HasDataBase="False" />
          <Device ID="1" Type="NVR" IP="172.17.19.220" Status="True" HasDataBase="False" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="1" Type="KVR" IP="172.17.19.41" Status="True" HasDataBase="True" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="2" Type="KVR" IP="172.17.19.42" Status="True" HasDataBase="True" />
          <Device ID="1" Type="PMR" IP="172.17.19.31" Status="True" HasDataBase="True" />
          <Device ID="1" Type="TOR" IP="172.17.19.21" Status="True" HasDataBase="True" />
          <Device ID="2" Type="TOR" IP="172.17.19.22" Status="True" HasDataBase="True" />
        </Devices>
      </Station>
      <Station ID="20" Name="Central de Abastos" Connected="True">
        <Devices>
          <Device ID="1" Type="CDE" IP="172.17.20.20" Status="True" HasDataBase="False" />
          <Device ID="1" Type="SW" IP="172.17.20.1" Status="True" HasDataBase="False" />
          <Device ID="1" Type="NVR" IP="172.17.20.220" Status="True" HasDataBase="False" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="1" Type="KVR" IP="172.17.20.41" Status="True" HasDataBase="True" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="2" Type="KVR" IP="172.17.20.42" Status="True" HasDataBase="True" />
          <Device ID="1" Type="PMR" IP="172.17.20.31" Status="True" HasDataBase="True" />
          <Device ID="1" Type="TOR" IP="172.17.20.21" Status="True" HasDataBase="True" />
          <Device ID="2" Type="TOR" IP="172.17.20.22" Status="True" HasDataBase="True" />
        </Devices>
      </Station>
      <Station ID="21" Name="Jacarandas B" Connected="True">
        <Devices>
          <Device ID="1" Type="CDE" IP="172.17.21.20" Status="True" HasDataBase="False" />
          <Device ID="1" Type="SW" IP="172.17.21.1" Status="True" HasDataBase="False" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="1" Type="KVR" IP="172.17.21.41" Status="True" HasDataBase="True" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="2" Type="KVR" IP="172.17.21.42" Status="True" HasDataBase="True" />
          <Device ID="1" Type="PMR" IP="172.17.21.31" Status="True" HasDataBase="True" />
          <Device ID="1" Type="TOR" IP="172.17.21.21" Status="True" HasDataBase="True" />
          <Device ID="2" Type="TOR" IP="172.17.21.22" Status="True" HasDataBase="True" />
        </Devices>
      </Station>
      <Station ID="22" Name="Encino B" Connected="True">
        <Devices>
          <Device ID="1" Type="CDE" IP="172.17.22.20" Status="True" HasDataBase="False" />
          <Device ID="1" Type="SW" IP="172.17.22.1" Status="True" HasDataBase="False" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="1" Type="KVR" IP="172.17.22.41" Status="True" HasDataBase="True" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="2" Type="KVR" IP="172.17.22.42" Status="True" HasDataBase="True" />
          <Device ID="1" Type="PMR" IP="172.17.22.31" Status="True" HasDataBase="True" />
          <Device ID="1" Type="TOR" IP="172.17.22.21" Status="True" HasDataBase="True" />
          <Device ID="2" Type="TOR" IP="172.17.22.22" Status="True" HasDataBase="True" />
        </Devices>
      </Station>
      <Station ID="23" Name="Dr. Ignacio Chávez B" Connected="True">
        <Devices>
          <Device ID="1" Type="CDE" IP="172.17.23.20" Status="True" HasDataBase="False" />
          <Device ID="1" Type="SW" IP="172.17.23.1" Status="True" HasDataBase="False" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="1" Type="KVR" IP="172.17.23.41" Status="True" HasDataBase="True" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="2" Type="KVR" IP="172.17.23.42" Status="True" HasDataBase="True" />
          <Device ID="1" Type="PMR" IP="172.17.23.31" Status="True" HasDataBase="True" />
          <Device ID="1" Type="TOR" IP="172.17.23.21" Status="True" HasDataBase="True" />
          <Device ID="2" Type="TOR" IP="172.17.23.22" Status="True" HasDataBase="True" />
        </Devices>
      </Station>
      <Station ID="24" Name="Cine Río B" Connected="True">
        <Devices>
          <Device ID="1" Type="CDE" IP="172.17.24.20" Status="True" HasDataBase="False" />
          <Device ID="1" Type="SW" IP="172.17.24.1" Status="True" HasDataBase="False" />
          <Device ID="1" Type="NVR" IP="172.17.24.220" Status="True" HasDataBase="False" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="1" Type="KVR" IP="172.17.24.41" Status="True" HasDataBase="True" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="2" Type="KVR" IP="172.17.24.42" Status="True" HasDataBase="True" />
          <Device ID="1" Type="PMR" IP="172.17.24.31" Status="True" HasDataBase="True" />
          <Device ID="1" Type="TOR" IP="172.17.24.21" Status="True" HasDataBase="True" />
          <Device ID="2" Type="TOR" IP="172.17.24.22" Status="True" HasDataBase="True" />
          <Device ID="3" Type="TOR" IP="172.17.24.23" Status="True" HasDataBase="True" />
        </Devices>
      </Station>
      <Station ID="25" Name="Melchor Ocampo B" Connected="True">
        <Devices>
          <Device ID="1" Type="CDE" IP="172.17.25.20" Status="True" HasDataBase="False" />
          <Device ID="1" Type="SW" IP="172.17.25.1" Status="True" HasDataBase="False" />
          <Device ID="1" Type="NVR" IP="172.17.25.220" Status="True" HasDataBase="False" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="1" Type="KVR" IP="172.17.25.41" Status="True" HasDataBase="True" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="2" Type="KVR" IP="172.17.25.42" Status="True" HasDataBase="True" />
          <Device ID="1" Type="PMR" IP="172.17.25.31" Status="True" HasDataBase="True" />
          <Device ID="1" Type="TOR" IP="172.17.25.21" Status="True" HasDataBase="True" />
          <Device ID="2" Type="TOR" IP="172.17.25.22" Status="True" HasDataBase="True" />
          <Device ID="3" Type="TOR" IP="172.17.25.23" Status="True" HasDataBase="True" />
        </Devices>
      </Station>
      <Station ID="26" Name="Oviedo Ignacio Llave" Connected="True">
        <Devices>
          <Device ID="1" Type="CDE" IP="172.17.26.20" Status="True" HasDataBase="False" />
          <Device ID="1" Type="SW" IP="172.17.26.1" Status="True" HasDataBase="False" />
          <Device ID="1" Type="NVR" IP="172.17.26.220" Status="True" HasDataBase="False" />
          <Device MaxCard="0" MinCard="0" IsExtern="False" DataBaseName="" ID="1" Type="KVR" IP="172.17.26.41" Status="True" HasDataBase="True" />
          <Device ID="1" Type="PMR" IP="172.17.26.31" Status="True" HasDataBase="True" />
          <Device ID="2" Type="PMR" IP="172.17.26.32" Status="True" HasDataBase="True" />
          <Device ID="2" Type="TOR" IP="172.17.26.22" Status="True" HasDataBase="True" />
          <Device ID="3" Type="TOR" IP="172.17.26.23" Status="True" HasDataBase="True" />
          <Device ID="4" Type="TOR" IP="172.17.26.24" Status="True" HasDataBase="True" />
        </Devices>
      </Station>
      <Station ID="27" Name="Acamar" Connected="False">
        <Devices>
          <Device MaxCard="0" MinCard="0" IsExtern="True" DataBaseName="" ID="1" Type="KVR" IP="172.17.0.125" Status="True" HasDataBase="True" />
        </Devices>
      </Station>
      <Station ID="28" Name="Tecnológico" Connected="False">
        <Devices>
          <Device MaxCard="0" MinCard="0" IsExtern="True" DataBaseName="" ID="1" Type="KVR" IP="172.17.0.125" Status="True" HasDataBase="True" />
        </Devices>
      </Station>
      <Station ID="29" Name="Tropicano" Connected="True">
        <Devices>
          <Device MaxCard="0" MinCard="0" IsExtern="True" DataBaseName="" ID="1" Type="KVR" IP="172.17.29.41" Status="True" HasDataBase="True" />
        </Devices>
      </Station>
      <Station ID="30" Name="Garita" Connected="False">
        <Devices>
          <Device MaxCard="0" MinCard="0" IsExtern="True" DataBaseName="" ID="1" Type="KVR" IP="172.17.0.125" Status="True" HasDataBase="True" />
        </Devices>
      </Station>
      <Station ID="31" Name="Secretaría de Finanzas" Connected="True">
        <Devices>
          <Device MaxCard="0" MinCard="0" IsExtern="True" DataBaseName="" ID="1" Type="KVR" IP="172.17.31.41" Status="True" HasDataBase="True" />
        </Devices>
      </Station>
      <Station ID="32" Name="Instituto Vicente" Connected="False">
        <Devices>
          <Device MaxCard="0" MinCard="0" IsExtern="True" DataBaseName="" ID="1" Type="KVR" IP="172.17.0.125" Status="True" HasDataBase="True" />
        </Devices>
      </Station>
    </Stations>
  </Trunk>
  <Trunk ID="3" Name="Coloso">
    <Stations />
  </Trunk>
  <Trunk ID="4" Name="Massiue">
    <Stations />
  </Trunk>
  <Trunk ID="5" Name="Farrallón">
    <Stations />
  </Trunk>
</Trunks>
