<?xml version="1.0" encoding="utf-8" ?>
<Template xmlns="http://innsytech.com/MessageTemplateSchema.xsd">
  <Fields>
    <Field ID="10" Type="LLVAR" />
    <Field ID="11" Type="LLVAR" />
    <Field ID="12" Type="LLVAR" />
    <Field ID="13" Type="ALPHANUMERIC" Length="999"/>
    <Field ID="64" Type="LLVAR"/>
  </Fields>
</Template>