<?xml version="1.0" encoding="UTF-8"?>
<Acabus>
  <Settings>
    <Property Type="Command-Ssh" Name="Backup" Value="rm -rf *.backup ; nume_seri=$(PGPASSWORD='4c4t3k' /opt/PostgreSQL/9.3/bin/psql -U postgres -d SITM -c &quot;SELECT nume_seri FROM sitm_disp.sbeq_equi WHERE id_esta = 1&quot; | grep -o -E '[KVR|PMR|TD|TS|TSI]{2,3}[0-9]{6}') ; datetime=$(date +&quot;%Y%m%d&quot;)$(echo _)$(date +&quot;%H%M&quot;) ; result=$(PGPASSWORD='4c4t3k' /opt/PostgreSQL/9.3/bin/pg_dump -i -U postgres -F c -b -v -f &quot;SITM_$nume_seri$(echo '_')$datetime.backup&quot; SITM 2>1) ; echo &quot;Backup del $nume_seri generado&quot;" />

    <Property Type="PGSetting" Name="PathPlus" Value="/opt/PostgresPlus/9.3AS" />
    <Property Type="PGSetting" Name="Port" Value="5432" />
    <Property Type="PGSetting" Name="DBName" Value="SITM" />

    <Property Type="Command-Sql" Name="TrunkAlert" Value="SELECT ID_EQUI_ALAR, NUME_SERI , DES_ALAR , FCH_INI FROM SITM.SBOP_EQUI_ALAR EA LEFT JOIN SITM.SBCT_ALAR A ON EA.ID_ALAR=A.ID_ALAR LEFT JOIN SITM.SBEQ_EQUI E ON E.ID_EQUI=EA.ID_EQUI WHERE DES_ALAR NOT LIKE '%NO HAY CONEXION%' ORDER BY FCH_INI DESC LIMIT 50" />
    <Property Type="Command-Sql" Name="BusDisconnected" Value="SELECT NO_ECON , RECE.FCH_CREA FROM SITM.SFMO_RECE_NAVE AS RECE JOIN SITM.SFVH_VEHI AS VEHI ON RECE.ID_VEHI = VEHI.ID_VEHI WHERE (DATE(NOW())>DATE(RECE.FCH_CREA) OR NOW()::TIME - RECE.FCH_CREA::TIME > '00:10:00'::TIME) ORDER BY VEHI.NO_ECON ASC, RECE.FCH_CREA DESC" />

    <!--<Property Type="" Name="" Value="" />-->
  </Settings>
  <Credentials>
    <Credential Alias="Server" Username="postgres" Password="admin" Type="DataBase" />
    <Credential Alias="Device" Username="postgres" Password="4c4t3k" Type="DataBase" />
    <Credential Alias="Device" Username="teknei" Password="4c4t3k" Type="Ssh" />
    <Credential Alias="Server" Username="Administrador" Password="Administrador*2016" Type="Ssh"/>
    <Credential Alias="Device" Username="root" Password="t43ck4n&amp;3u12" Type="Ssh" IsRoot="True" />
  </Credentials>
  <CC ID="0" Name="CCO" PingMin="90" PingMax="600">
    <Devices>
      <Device ID="1" Type="DB" Status="True" HasDataBase="True" SshEnabled="True" IP="172.17.0.121" />
      <Device ID="2" Type="APP" Status="True" HasDataBase="True" SshEnabled="True" IP="172.17.0.122" />
      <Device ID="3" Type="PDE" Status="True" HasDataBase="True" SshEnabled="True" IP="172.17.0.125" />
      <Device ID="1" Type="SW" Status="True" HasDataBase="False" SshEnabled="False" IP="172.17.0.1" />
    </Devices>
  </CC>
  <Trunks>
    <Trunk ID="1" Name="Garita">
      <Stations />
    </Trunk>
    <Trunk ID="2" Name="Retorno">
      <Stations>
        <Station ID="1" Name="Oviedo/Zócalo" Connected="True" PingMax="600" PingMin="300">
          <Devices>
            <Device ID="1" Type="CDE" IP="172.17.1.20" Enabled="True" HasDataBase="False" SshEnabled="True" CanReplicate="False" NumeSeri="CDE020101" />
            <Device ID="1" Type="SW" IP="172.17.1.1" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="SW020101" />
            <Device MaxCard="0" MinCard="0" ID="1" Type="KVR" IP="172.17.1.41" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR020101" />
            <Device MaxCard="0" MinCard="0" ID="2" Type="KVR" IP="172.17.1.42" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR020102" />
            <Device ID="1" Type="PMR" IP="172.17.1.31" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="PMR020101" />
            <Device ID="1" Type="TOR" IP="172.17.1.21" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR020101" />
            <Device ID="2" Type="TOR" IP="172.17.1.22" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR020102" />
          </Devices>
        </Station>
        <Station ID="2" Name="Melchor Ocampo A" Connected="True" PingMax="600" PingMin="100">
          <Devices>
            <Device ID="1" Type="SW" IP="172.17.2.1" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="SW020201" />
            <Device ID="1" Type="CDE" IP="172.17.2.20" Enabled="True" HasDataBase="False" SshEnabled="True" CanReplicate="False" NumeSeri="CDE020201" />
            <Device MaxCard="0" MinCard="0" ID="1" Type="KVR" IP="172.17.2.41" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR020201" />
            <Device MaxCard="0" MinCard="0" ID="2" Type="KVR" IP="172.17.2.42" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR020202" />
            <Device ID="1" Type="PMR" IP="172.17.2.31" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="PMR020201" />
            <Device ID="1" Type="TOR" IP="172.17.2.21" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR020201" />
            <Device ID="2" Type="TOR" IP="172.17.2.22" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR020202" />
            <Device ID="3" Type="TOR" IP="172.17.2.23" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR020203" />
          </Devices>
        </Station>
        <Station ID="3" Name="Seguro Social" Connected="True" PingMax="600" PingMin="100">
          <Devices>
            <Device ID="1" Type="CDE" IP="172.17.3.20" Enabled="True" HasDataBase="False" SshEnabled="True" CanReplicate="False" NumeSeri="CDE020301" />
            <Device ID="1" Type="SW" IP="172.17.3.1" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="SW020301" />
            <Device ID="1" Type="NVR" IP="172.17.3.220" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="NVR020301" />
            <Device MaxCard="0" MinCard="0" ID="1" Type="KVR" IP="172.17.3.41" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR020301" />
            <Device MaxCard="0" MinCard="0" ID="2" Type="KVR" IP="172.17.3.42" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR020302" />
            <Device MaxCard="0" MinCard="0" ID="3" Type="KVR" IP="172.17.3.43" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR020303" />
            <Device MaxCard="0" MinCard="0" ID="4" Type="KVR" IP="172.17.3.44" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR020304" />
            <Device ID="1" Type="PMR" IP="172.17.3.31" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="PMR020301" />
            <Device ID="2" Type="PMR" IP="172.17.3.32" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="PMR020302" />
            <Device ID="1" Type="TOR" IP="172.17.3.21" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR020301" />
            <Device ID="2" Type="TOR" IP="172.17.3.22" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR020302" />
            <Device ID="3" Type="TOR" IP="172.17.3.23" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR020303" />
            <Device ID="4" Type="TOR" IP="172.17.3.24" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR020304" />
            <Device ID="5" Type="TOR" IP="172.17.3.25" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR020305" />
            <Device ID="6" Type="TOR" IP="172.17.3.26" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR020306" />
            <Device ID="7" Type="TOR" IP="172.17.3.27" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR020307" />
            <Device ID="8" Type="TOR" IP="172.17.3.28" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR020308" />
          </Devices>
        </Station>
        <Station ID="4" Name="Cine Río A" Connected="True" PingMax="600" PingMin="100">
          <Devices>
            <Device ID="1" Type="SW" IP="172.17.4.1" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="SW020401" />
            <Device ID="1" Type="CDE" IP="172.17.4.20" Enabled="True" HasDataBase="False" SshEnabled="True" CanReplicate="False" NumeSeri="CDE020401" />
            <Device MaxCard="0" MinCard="0" ID="1" Type="KVR" IP="172.17.4.41" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR020401" />
            <Device MaxCard="0" MinCard="0" ID="2" Type="KVR" IP="172.17.4.42" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR020402" />
            <Device ID="1" Type="PMR" IP="172.17.4.31" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="PMR020401" />
            <Device ID="1" Type="TOR" IP="172.17.4.21" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR020401" />
            <Device ID="2" Type="TOR" IP="172.17.4.22" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR020402" />
            <Device ID="3" Type="TOR" IP="172.17.4.23" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR020403" />
          </Devices>
        </Station>
        <Station ID="5" Name="Ricardo Flores Magón" Connected="True" PingMax="600" PingMin="100">
          <Devices>
            <Device ID="1" Type="CDE" IP="172.17.5.20" Enabled="True" HasDataBase="False" SshEnabled="True" CanReplicate="False" NumeSeri="CDE020501" />
            <Device ID="1" Type="SW" IP="172.17.5.1" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="SW020501" />
            <Device ID="1" Type="NVR" IP="172.17.5.220" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="NVR020501" />
            <Device MaxCard="0" MinCard="0" ID="1" Type="KVR" IP="172.17.5.41" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR020501" />
            <Device MaxCard="0" MinCard="0" ID="2" Type="KVR" IP="172.17.5.42" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR020502" />
            <Device ID="1" Type="PMR" IP="172.17.5.31" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="PMR020501" />
            <Device ID="1" Type="TOR" IP="172.17.5.21" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR020501" />
            <Device ID="2" Type="TOR" IP="172.17.5.22" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR020502" />
            <Device ID="3" Type="TOR" IP="172.17.5.23" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR020503" />
          </Devices>
        </Station>
        <Station ID="6" Name="Michoacán" Connected="True" PingMax="600" PingMin="100">
          <Devices>
            <Device ID="1" Type="CDE" IP="172.17.6.20" Enabled="True" HasDataBase="False" SshEnabled="True" CanReplicate="False" NumeSeri="CDE020601" />
            <Device ID="1" Type="SW" IP="172.17.6.1" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="SW020601" />
            <Device ID="1" Type="NVR" IP="172.17.6.220" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="NVR020601" />
            <Device MaxCard="0" MinCard="0" ID="1" Type="KVR" IP="172.17.6.41" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR020601" />
            <Device MaxCard="0" MinCard="0" ID="2" Type="KVR" IP="172.17.6.42" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR020602" />
            <Device ID="1" Type="PMR" IP="172.17.6.31" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="PMR020601" />
            <Device ID="1" Type="TOR" IP="172.17.6.21" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR020601" />
            <Device ID="2" Type="TOR" IP="172.17.6.22" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR020602" />
            <Device ID="3" Type="TOR" IP="172.17.6.23" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR020603" />
          </Devices>
        </Station>
        <Station ID="7" Name="Palacio Municipal" Connected="True" PingMax="600" PingMin="100">
          <Devices>
            <Device ID="1" Type="CDE" IP="172.17.7.20" Enabled="True" HasDataBase="False" SshEnabled="True" CanReplicate="False" NumeSeri="CDE020701" />
            <Device ID="1" Type="SW" IP="172.17.7.1" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="SW020701" />
            <Device ID="1" Type="NVR" IP="172.17.7.220" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="NVR020701" />
            <Device MaxCard="0" MinCard="0" ID="1" Type="KVR" IP="172.17.7.41" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR020701" />
            <Device MaxCard="0" MinCard="0" ID="2" Type="KVR" IP="172.17.7.42" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR020702" />
            <Device ID="1" Type="PMR" IP="172.17.7.31" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="PMR020701" />
            <Device ID="1" Type="TOR" IP="172.17.7.21" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR020701" />
            <Device ID="2" Type="TOR" IP="172.17.7.22" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR020702" />
            <Device ID="3" Type="TOR" IP="172.17.7.23" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR020703" />
          </Devices>
        </Station>
        <Station ID="8" Name="Las Anclas" Connected="True" PingMax="600" PingMin="300">
          <Devices>
            <Device ID="1" Type="CDE" IP="172.17.8.20" Enabled="True" HasDataBase="False" SshEnabled="True" CanReplicate="False" NumeSeri="CDE020801" />
            <Device ID="1" Type="SW" IP="172.17.8.1" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="SW020801" />
            <Device ID="1" Type="NVR" IP="172.17.8.220" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="NVR020801" />
            <Device MaxCard="0" MinCard="0" ID="1" Type="KVR" IP="172.17.8.41" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR020801" />
            <Device MaxCard="0" MinCard="0" ID="2" Type="KVR" IP="172.17.8.42" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR020802" />
            <Device MaxCard="0" MinCard="0" ID="3" Type="KVR" IP="172.17.8.43" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR020803" />
            <Device ID="1" Type="PMR" IP="172.17.8.31" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="PMR020801" />
            <Device ID="1" Type="TOR" IP="172.17.8.21" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR020801" />
            <Device ID="2" Type="TOR" IP="172.17.8.22" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR020802" />
            <Device ID="3" Type="TOR" IP="172.17.8.23" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR020803" />
            <Device ID="4" Type="TOR" IP="172.17.8.24" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR020804" />
          </Devices>
        </Station>
        <Station ID="9" Name="Dr. Ignacio Chávez A" Connected="True" PingMax="600" PingMin="100">
          <Devices>
            <Device ID="1" Type="CDE" IP="172.17.9.20" Enabled="True" HasDataBase="False" SshEnabled="True" CanReplicate="False" NumeSeri="CDE020901" />
            <Device ID="1" Type="SW" IP="172.17.9.1" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="SW020901" />
            <Device ID="1" Type="NVR" IP="172.17.9.220" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="NVR020901" />
            <Device MaxCard="0" MinCard="0" ID="1" Type="KVR" IP="172.17.9.41" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR020901" />
            <Device MaxCard="0" MinCard="0" ID="2" Type="KVR" IP="172.17.9.42" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR020902" />
            <Device ID="1" Type="PMR" IP="172.17.9.31" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="PMR020901" />
            <Device ID="1" Type="TOR" IP="172.17.9.21" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR020901" />
            <Device ID="2" Type="TOR" IP="172.17.9.22" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR020902" />
          </Devices>
        </Station>
        <Station ID="10" Name="Encino A" Connected="True" PingMax="600" PingMin="100">
          <Devices>
            <Device ID="1" Type="CDE" IP="172.17.10.20" Enabled="True" HasDataBase="False" SshEnabled="True" CanReplicate="False" NumeSeri="CDE021001" />
            <Device ID="1" Type="SW" IP="172.17.10.1" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="SW021001" />
            <Device ID="1" Type="NVR" IP="172.17.22.220" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="NVR021001" />
            <Device MaxCard="0" MinCard="0" ID="1" Type="KVR" IP="172.17.10.41" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR021001" />
            <Device MaxCard="0" MinCard="0" ID="2" Type="KVR" IP="172.17.10.42" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR021002" />
            <Device ID="1" Type="PMR" IP="172.17.10.31" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="PMR021001" />
            <Device ID="1" Type="TOR" IP="172.17.10.21" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR021001" />
            <Device ID="2" Type="TOR" IP="172.17.10.22" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR021002" />
          </Devices>
        </Station>
        <Station ID="11" Name="Jacarandas A" Connected="True" PingMax="600" PingMin="100">
          <Devices>
            <Device ID="1" Type="CDE" IP="172.17.11.20" Enabled="True" HasDataBase="False" SshEnabled="True" CanReplicate="False" NumeSeri="CDE021101" />
            <Device ID="1" Type="SW" IP="172.17.11.1" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="SW021101" />
            <Device ID="1" Type="NVR" IP="172.17.11.220" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="NVR021101" />
            <Device MaxCard="0" MinCard="0" ID="1" Type="KVR" IP="172.17.11.41" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR021101" />
            <Device MaxCard="0" MinCard="0" ID="2" Type="KVR" IP="172.17.11.42" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR021102" />
            <Device ID="1" Type="PMR" IP="172.17.11.31" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="PMR021101" />
            <Device ID="1" Type="TOR" IP="172.17.11.21" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR021101" />
            <Device ID="2" Type="TOR" IP="172.17.11.22" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR021102" />
          </Devices>
        </Station>
        <Station ID="12" Name="Terminal de Transferencia Renacimiento" Connected="True" PingMax="600" PingMin="300">
          <Devices>
            <Device ID="1" Type="CDE" IP="172.17.12.20" Enabled="True" HasDataBase="False" SshEnabled="True" CanReplicate="False" NumeSeri="CDE021201" />
            <Device ID="2" Type="CDE" IP="172.17.12.50" Enabled="True" HasDataBase="False" SshEnabled="True" CanReplicate="False" NumeSeri="CDE021202" />
            <Device ID="1" Type="SW" IP="172.17.12.1" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="SW021201" />
            <Device ID="1" Type="NVR" IP="172.17.12.200" Enabled="True" HasDataBase="False" SshEnabled="True" CanReplicate="False" NumeSeri="NVR021201" />
            <Device MaxCard="0" MinCard="0" ID="1" Type="KVR" IP="172.17.12.41" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR021201" />
            <Device MaxCard="0" MinCard="0" ID="2" Type="KVR" IP="172.17.12.42" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR021202" />
            <Device MaxCard="0" MinCard="0" ID="3" Type="KVR" IP="172.17.12.43" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR021203" />
            <Device MaxCard="0" MinCard="0" ID="4" Type="KVR" IP="172.17.12.44" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR021204" />
            <Device MaxCard="0" MinCard="0" ID="5" Type="KVR" IP="172.17.12.45" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR021205" />
            <Device MaxCard="0" MinCard="0" ID="6" Type="KVR" IP="172.17.12.46" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR021206" />
            <Device MaxCard="0" MinCard="0" ID="7" Type="KVR" IP="172.17.12.47" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR021207" />
            <Device MaxCard="0" MinCard="0" ID="8" Type="KVR" IP="172.17.12.48" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR021208" />
            <Device ID="1" Type="PMR" IP="172.17.12.33" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="PMR021201" />
            <Device ID="2" Type="PMR" IP="172.17.12.34" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="PMR021202" />
            <Device ID="1" Type="TOR" IP="172.17.12.21" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR021201" />
            <Device ID="2" Type="TOR" IP="172.17.12.22" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR021202" />
            <Device ID="3" Type="TOR" IP="172.17.12.23" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR021203" />
            <Device ID="4" Type="TOR" IP="172.17.12.24" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR021204" />
            <Device ID="5" Type="TOR" IP="172.17.12.25" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR021205" />
            <Device ID="6" Type="TOR" IP="172.17.12.26" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR021206" />
            <Device ID="7" Type="TOR" IP="172.17.12.27" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR021207" />
            <Device ID="8" Type="TOR" IP="172.17.12.28" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR021208" />
            <Device ID="9" Type="TOR" IP="172.17.12.29" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR021209" />
            <Device ID="10" Type="TOR" IP="172.17.12.30" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR021210" />
            <Device ID="11" Type="TOR" IP="172.17.12.31" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR021211" />
            <Device ID="12" Type="TOR" IP="172.17.12.32" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR021212" />
          </Devices>
        </Station>
        <Station ID="13" Name="Zapata" Connected="True" PingMax="600" PingMin="300">
          <Devices>
            <Device ID="1" Type="CDE" IP="172.17.13.20" Enabled="True" HasDataBase="False" SshEnabled="True" CanReplicate="False" NumeSeri="CDE021301" />
            <Device ID="1" Type="SW" IP="172.17.13.1" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="SW021301" />
            <Device ID="1" Type="NVR" IP="172.17.13.220" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="NVR021301" />
            <Device MaxCard="0" MinCard="0" ID="1" Type="KVR" IP="172.17.13.41" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR021301" />
            <Device MaxCard="0" MinCard="0" ID="2" Type="KVR" IP="172.17.13.42" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR021302" />
            <Device ID="1" Type="PMR" IP="172.17.13.31" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="PMR021301" />
            <Device ID="1" Type="TOR" IP="172.17.13.21" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR021301" />
            <Device ID="2" Type="TOR" IP="172.17.13.22" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR021302" />
            <Device ID="3" Type="TOR" IP="172.17.13.23" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR021303" />
          </Devices>
        </Station>
        <Station ID="14" Name="La Postal" Connected="True" PingMax="600" PingMin="300">
          <Devices>
            <Device ID="1" Type="CDE" IP="172.17.14.20" Enabled="True" HasDataBase="False" SshEnabled="True" CanReplicate="False" NumeSeri="CDE021401" />
            <Device ID="1" Type="SW" IP="172.17.14.1" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="SW021401" />
            <Device ID="1" Type="NVR" IP="172.17.14.220" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="NVR021401" />
            <Device MaxCard="0" MinCard="0" ID="1" Type="KVR" IP="172.17.14.41" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR021401" />
            <Device MaxCard="0" MinCard="0" ID="2" Type="KVR" IP="172.17.14.42" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR021402" />
            <Device ID="1" Type="PMR" IP="172.17.14.31" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="PMR021401" />
            <Device ID="1" Type="TOR" IP="172.17.14.21" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR021401" />
            <Device ID="2" Type="TOR" IP="172.17.14.22" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR021402" />
            <Device ID="3" Type="TOR" IP="172.17.14.23" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR021403" />
          </Devices>
        </Station>
        <Station ID="15" Name="Vacacional" Connected="True" PingMax="600" PingMin="300">
          <Devices>
            <Device ID="1" Type="CDE" IP="172.17.15.20" Enabled="True" HasDataBase="False" SshEnabled="True" CanReplicate="False" NumeSeri="CDE021501" />
            <Device ID="1" Type="SW" IP="172.17.15.1" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="SW021501" />
            <Device ID="1" Type="NVR" IP="172.17.15.220" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="NVR021501" />
            <Device MaxCard="0" MinCard="0" ID="1" Type="KVR" IP="172.17.15.41" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR021501" />
            <Device MaxCard="0" MinCard="0" ID="2" Type="KVR" IP="172.17.15.42" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR021502" />
            <Device ID="1" Type="PMR" IP="172.17.15.31" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="PMR021501" />
            <Device ID="1" Type="TOR" IP="172.17.15.21" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR021501" />
            <Device ID="2" Type="TOR" IP="172.17.15.22" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR021502" />
            <Device ID="3" Type="TOR" IP="172.17.15.23" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR021503" />
          </Devices>
        </Station>
        <Station ID="16" Name="Paso Limonero" Connected="True" PingMax="600" PingMin="300">
          <Devices>
            <Device ID="1" Type="CDE" IP="172.17.16.20" Enabled="True" HasDataBase="False" SshEnabled="True" CanReplicate="False" NumeSeri="CDE021601" />
            <Device ID="1" Type="SW" IP="172.17.16.1" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="SW021601" />
            <Device ID="1" Type="NVR" IP="172.17.16.220" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="NVR021601" />
            <Device MaxCard="0" MinCard="0" ID="1" Type="KVR" IP="172.17.16.41" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR021601" />
            <Device ID="1" Type="PMR" IP="172.17.16.31" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="PMR021601" />
            <Device ID="1" Type="TOR" IP="172.17.16.21" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR021601" />
            <Device ID="2" Type="TOR" IP="172.17.16.22" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR021602" />
          </Devices>
        </Station>
        <Station ID="17" Name="La Venta" Connected="True" PingMax="600" PingMin="300">
          <Devices>
            <Device ID="1" Type="CDE" IP="172.17.17.20" Enabled="True" HasDataBase="False" SshEnabled="True" CanReplicate="False" NumeSeri="CDE021701" />
            <Device ID="1" Type="SW" IP="172.17.17.1" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="SW021701" />
            <Device ID="1" Type="NVR" IP="172.17.17.220" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="NVR021701" />
            <Device MaxCard="0" MinCard="0" ID="1" Type="KVR" IP="172.17.17.41" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR021701" />
            <Device MaxCard="0" MinCard="0" ID="2" Type="KVR" IP="172.17.17.42" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR021702" />
            <Device ID="1" Type="PMR" IP="172.17.17.31" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="PMR021701" />
            <Device ID="1" Type="TOR" IP="172.17.17.21" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR021701" />
            <Device ID="2" Type="TOR" IP="172.17.17.22" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR021702" />
          </Devices>
        </Station>
        <Station ID="18" Name="El Retorno" Connected="True" PingMax="600" PingMin="300">
          <Devices>
            <Device ID="1" Type="CDE" IP="172.17.18.20" Enabled="True" HasDataBase="False" SshEnabled="True" CanReplicate="False" NumeSeri="CDE021801" />
            <Device ID="1" Type="SW" IP="172.17.18.1" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="SW021801" />
            <Device ID="1" Type="NVR" IP="172.17.18.220" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="NVR021801" />
            <Device MaxCard="0" MinCard="0" ID="1" Type="KVR" IP="172.17.18.41" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR021801" />
            <Device MaxCard="0" MinCard="0" ID="2" Type="KVR" IP="172.17.18.42" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR021802" />
            <Device ID="1" Type="PMR" IP="172.17.18.31" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="PMR021801" />
            <Device ID="1" Type="TOR" IP="172.17.18.21" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR021801" />
            <Device ID="2" Type="TOR" IP="172.17.18.22" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR021802" />
          </Devices>
        </Station>
        <Station ID="19" Name="Leyes de Reforma" Connected="True" PingMax="600" PingMin="300">
          <Devices>
            <Device ID="1" Type="CDE" IP="172.17.19.20" Enabled="True" HasDataBase="False" SshEnabled="True" CanReplicate="False" NumeSeri="CDE021901" />
            <Device ID="1" Type="SW" IP="172.17.19.1" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="SW021901" />
            <Device ID="1" Type="NVR" IP="172.17.19.220" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="NVR021901" />
            <Device MaxCard="0" MinCard="0" ID="1" Type="KVR" IP="172.17.19.41" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR021901" />
            <Device MaxCard="0" MinCard="0" ID="2" Type="KVR" IP="172.17.19.42" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR021902" />
            <Device ID="1" Type="PMR" IP="172.17.19.31" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="PMR021901" />
            <Device ID="1" Type="TOR" IP="172.17.19.21" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR021901" />
            <Device ID="2" Type="TOR" IP="172.17.19.22" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR021902" />
          </Devices>
        </Station>
        <Station ID="20" Name="Central de Abastos" Connected="True" PingMax="600" PingMin="300">
          <Devices>
            <Device ID="1" Type="CDE" IP="172.17.20.20" Enabled="True" HasDataBase="False" SshEnabled="True" CanReplicate="False" NumeSeri="CDE022001" />
            <Device ID="1" Type="SW" IP="172.17.20.1" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="SW022001" />
            <Device ID="1" Type="NVR" IP="172.17.20.220" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="NVR022001" />
            <Device MaxCard="0" MinCard="0" ID="1" Type="KVR" IP="172.17.20.41" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR022001" />
            <Device MaxCard="0" MinCard="0" ID="2" Type="KVR" IP="172.17.20.42" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR022002" />
            <Device ID="1" Type="PMR" IP="172.17.20.31" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="PMR022001" />
            <Device ID="1" Type="TOR" IP="172.17.20.21" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR022001" />
            <Device ID="2" Type="TOR" IP="172.17.20.22" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR022002" />
          </Devices>
        </Station>
        <Station ID="21" Name="Jacarandas B" Connected="True" PingMax="600" PingMin="100">
          <Devices>
            <Device ID="1" Type="CDE" IP="172.17.21.20" Enabled="True" HasDataBase="False" SshEnabled="True" CanReplicate="False" NumeSeri="CDE022101" />
            <Device ID="1" Type="SW" IP="172.17.21.1" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="SW022101" />
            <Device MaxCard="0" MinCard="0" ID="1" Type="KVR" IP="172.17.21.41" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR022101" />
            <Device MaxCard="0" MinCard="0" ID="2" Type="KVR" IP="172.17.21.42" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR022102" />
            <Device ID="1" Type="PMR" IP="172.17.21.31" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="PMR022101" />
            <Device ID="1" Type="TOR" IP="172.17.21.21" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR022101" />
            <Device ID="2" Type="TOR" IP="172.17.21.22" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR022102" />
          </Devices>
        </Station>
        <Station ID="22" Name="Encino B" Connected="True" PingMax="600" PingMin="100">
          <Devices>
            <Device ID="1" Type="CDE" IP="172.17.22.20" Enabled="True" HasDataBase="False" SshEnabled="True" CanReplicate="False" NumeSeri="CDE022201" />
            <Device ID="1" Type="SW" IP="172.17.22.1" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="SW022201" />
            <Device MaxCard="0" MinCard="0" ID="1" Type="KVR" IP="172.17.22.41" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR022201" />
            <Device MaxCard="0" MinCard="0" ID="2" Type="KVR" IP="172.17.22.42" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR022202" />
            <Device ID="1" Type="PMR" IP="172.17.22.31" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="PMR022201" />
            <Device ID="1" Type="TOR" IP="172.17.22.21" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR022201" />
            <Device ID="2" Type="TOR" IP="172.17.22.22" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR022202" />
          </Devices>
        </Station>
        <Station ID="23" Name="Dr. Ignacio Chávez B" Connected="True" PingMax="600" PingMin="100">
          <Devices>
            <Device ID="1" Type="CDE" IP="172.17.23.20" Enabled="True" HasDataBase="False" SshEnabled="True" CanReplicate="False" NumeSeri="CDE022301" />
            <Device ID="1" Type="SW" IP="172.17.23.1" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="SW022301" />
            <Device MaxCard="0" MinCard="0" ID="1" Type="KVR" IP="172.17.23.41" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR022301" />
            <Device MaxCard="0" MinCard="0" ID="2" Type="KVR" IP="172.17.23.42" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR022302" />
            <Device ID="1" Type="PMR" IP="172.17.23.31" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="PMR022301" />
            <Device ID="1" Type="TOR" IP="172.17.23.21" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR022301" />
            <Device ID="2" Type="TOR" IP="172.17.23.22" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR022302" />
          </Devices>
        </Station>
        <Station ID="24" Name="Cine Río B" Connected="True" PingMax="600" PingMin="100">
          <Devices>
            <Device ID="1" Type="CDE" IP="172.17.24.20" Enabled="True" HasDataBase="False" SshEnabled="True" CanReplicate="False" NumeSeri="CDE022401" />
            <Device ID="1" Type="SW" IP="172.17.24.1" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="SW022401" />
            <Device ID="1" Type="NVR" IP="172.17.24.220" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="NVR022401" />
            <Device MaxCard="0" MinCard="0" ID="1" Type="KVR" IP="172.17.24.41" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR022401" />
            <Device MaxCard="0" MinCard="0" ID="2" Type="KVR" IP="172.17.24.42" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR022402" />
            <Device ID="1" Type="PMR" IP="172.17.24.31" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="PMR022401" />
            <Device ID="1" Type="TOR" IP="172.17.24.21" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR022401" />
            <Device ID="2" Type="TOR" IP="172.17.24.22" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR022402" />
            <Device ID="3" Type="TOR" IP="172.17.24.23" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR022403" />
          </Devices>
        </Station>
        <Station ID="25" Name="Melchor Ocampo B" Connected="True" PingMax="600" PingMin="100">
          <Devices>
            <Device ID="1" Type="CDE" IP="172.17.25.20" Enabled="True" HasDataBase="False" SshEnabled="True" CanReplicate="False" NumeSeri="CDE022501" />
            <Device ID="1" Type="SW" IP="172.17.25.1" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="SW022501" />
            <Device ID="1" Type="NVR" IP="172.17.25.220" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="NVR022501" />
            <Device MaxCard="0" MinCard="0" ID="1" Type="KVR" IP="172.17.25.41" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR022501" />
            <Device MaxCard="0" MinCard="0" ID="2" Type="KVR" IP="172.17.25.42" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR022502" />
            <Device ID="1" Type="PMR" IP="172.17.25.31" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="PMR022501" />
            <Device ID="1" Type="TOR" IP="172.17.25.21" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR022501" />
            <Device ID="2" Type="TOR" IP="172.17.25.22" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR022502" />
            <Device ID="3" Type="TOR" IP="172.17.25.23" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR022503" />
          </Devices>
        </Station>
        <Station ID="26" Name="Oviedo Ignacio Llave" Connected="True" PingMax="600" PingMin="300">
          <Devices>
            <Device ID="1" Type="CDE" IP="172.17.26.20" Enabled="True" HasDataBase="False" SshEnabled="True" CanReplicate="False" NumeSeri="CDE022601" />
            <Device ID="1" Type="SW" IP="172.17.26.1" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="SW022601" />
            <Device ID="1" Type="NVR" IP="172.17.26.220" Enabled="True" HasDataBase="False" SshEnabled="False" CanReplicate="False" NumeSeri="NVR022601" />
            <Device MaxCard="0" MinCard="0" ID="1" Type="KVR" IP="172.17.26.41" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR022601" />
            <Device ID="1" Type="PMR" IP="172.17.26.31" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="PMR022601" />
            <Device ID="2" Type="PMR" IP="172.17.26.32" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="PMR022602" />
            <Device ID="2" Type="TOR" IP="172.17.26.22" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR022602" />
            <Device ID="3" Type="TOR" IP="172.17.26.23" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR022603" />
            <Device ID="4" Type="TOR" IP="172.17.26.24" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="TOR022604" />
          </Devices>
        </Station>
        <Station ID="27" Name="Acamar" Connected="True" PingMax="600" PingMin="300">
          <Devices>
            <Device MaxCard="0" MinCard="0" ID="1" Type="KVR" IP="172.17.27.41" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR022701" />
          </Devices>
        </Station>
        <Station ID="28" Name="Tecnológico" Connected="True" PingMax="600" PingMin="300">
          <Devices>
            <Device MaxCard="0" MinCard="0" ID="1" Type="KVR" IP="172.17.28.41" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR022801" />
          </Devices>
        </Station>
        <Station ID="29" Name="Tropicano" Connected="True" PingMax="600" PingMin="300">
          <Devices>
            <Device MaxCard="0" MinCard="0" ID="1" Type="KVR" IP="172.17.29.41" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR022901" />
          </Devices>
        </Station>
        <Station ID="30" Name="Garita" Connected="True" PingMax="600" PingMin="300">
          <Devices>
            <Device MaxCard="0" MinCard="0" ID="1" Type="KVR" IP="172.17.30.41" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR023001" />
          </Devices>
        </Station>
        <Station ID="31" Name="Secretaría de Finanzas" Connected="True" PingMax="600" PingMin="300">
          <Devices>
            <Device MaxCard="0" MinCard="0" ID="1" Type="KVR" IP="172.17.31.41" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR023101" />
          </Devices>
        </Station>
        <Station ID="32" Name="Instituto Vicente" Connected="True" PingMax="600" PingMin="300">
          <Devices>
            <Device MaxCard="0" MinCard="0" ID="1" Type="KVR" IP="172.17.32.41" Enabled="True" HasDataBase="True" SshEnabled="True" CanReplicate="True" NumeSeri="KVR023201" />
          </Devices>
        </Station>
      </Stations>
    </Trunk>
    <Trunk ID="3" Name="Coloso">
      <Stations />
    </Trunk>
    <Trunk ID="4" Name="Massiue">
      <Stations />
    </Trunk>
    <Trunk ID="5" Name="Farrallón">
      <Stations />
    </Trunk>
  </Trunks>
  <Links>
    <Link StationA="CC" StationB="0201" />
    <Link StationA="0201" StationB="0226" />
    <Link StationA="CC" StationB="0203" />
    <Link StationA="0203" StationB="0202" />
    <Link StationA="0202" StationB="0225" />
    <Link StationA="CC" StationB="0204" />
    <Link StationA="0204" StationB="0224" />
    <Link StationA="0204" StationB="0205" />
    <Link StationA="0205" StationB="0206" />
    <Link StationA="0206" StationB="0207" />
    <Link StationA="CC" StationB="0208" />
    <Link StationA="CC" StationB="0210" />
    <Link StationA="0210" StationB="0222" />
    <Link StationA="0210" StationB="0221" />
    <Link StationA="0221" StationB="0211" />
    <Link StationA="0210" StationB="0223" />
    <Link StationA="0223" StationB="0209" />
    <Link StationA="CC" StationB="0212" />
    <Link StationA="0212" StationB="0214" />
    <Link StationA="0214" StationB="0213" />
    <Link StationA="0214" StationB="0215" />
    <Link StationA="0215" StationB="0216" />
    <Link StationA="0216" StationB="0220" />
    <Link StationA="0220" StationB="0217" />
    <Link StationA="0220" StationB="0219" />
    <Link StationA="CC" StationB="0218" />
    <Link StationA="CC" StationB="0227" />
    <Link StationA="CC" StationB="0228" />
    <Link StationA="CC" StationB="0229" />
    <Link StationA="CC" StationB="0230" />
    <Link StationA="CC" StationB="0231" />
    <Link StationA="CC" StationB="0232" />
  </Links>
</Acabus>