<?xml version="1.0" encoding="utf-8" ?>
<acabus>
  <configuration>
    <Resources>
      <Directory value="Resources" />
    </Resources>
    <CCO>
      <name value="CENTRO DE CONTROL" />
    </CCO>
    <!-- Configuración del servidor SITM -->
    <DbServer>
      <dbcredential type="InnSyTech.Standard.Util.Credential, InnSyTech.Standard">
        <Username value="postgres" />
        <Password value="admin" />
        <Permission value="1" />
      </dbcredential>
      <sshcredential type="InnSyTech.Standard.Util.Credential, InnSyTech.Standard">
        <Username value="Administrador" />
        <Password value="Administrador*2016" />
        <Permission value="1" />
      </sshcredential>
      <dbname value="SITM" />
      <ipaddress value="172.17.0.121" />
      <pgpath value="/opt/PostgresPlus/9.3AS" />
      <pgport value="5432" />
    </DbServer>
    <!-- Configuración de la base de datos local -->
    <LocalDb>
      <assembly value="System.Data.SQLite.dll" />
      <type value="System.Data.SQLite.SQLiteConnection" />
      <connectionString value="Data Source=Opera.Acabus.db;Password=Op3r4.Ac4bu5#" />
      <lastInsertFunction value="last_insert_rowid" />
      <transactionPerConnection value="1" />
    </LocalDb>
  </configuration>
  <Template>
    <Fields>
      <!-- Cod. Mensaje de error -->
      <Field ID="60" Type="NUMERIC" Length="3" />
      <!-- Nombre de usuario cliente -->
      <Field ID="61" Type="LLVAR" />
      <!-- Clave de usuario cliente -->
      <Field ID="62" Type="LLVAR" />
    </Fields>
  </Template>
</acabus>